    {% include 'header.html' %}
    <div id="main">
      <div id="booksearcher">
        <form action="{% url 'search_results' %}" method="GET">
          <h2 class="titleH2">Cerca al Catàleg</h2>
          <input type="search" name="searcher" id="searcher" onkeyup="buscarAutocompletado()"/>
          <div id="autocomplete-results"></div>
          <input type="checkbox" id="has-stock-checkbox" onchange="buscarAutocompletado()" name="has_stock"/>
          <p>Mostrar només objectes amb estoc</p>
          <input type="submit" id="searchButton"class="subrayado" value="CERCA" />
        </form>
      </div>
      {% if not user.is_authenticated %}
      <form action="" method="POST" id="login">
        {% csrf_token %}
        <h2 class="titleH2">Iniciar Sessió</h2>
        <label for="username">Adreça electrònica</label>
        <input type="email" name="email" id="email" />
        <label for="password">Contrasenya</label>
        <input type="password" name="password" id="password" />
        <a href="{% url 'reset' %}">Recuperar Contrasenya</a>
        <input type="submit" id="loginSubmit" value="ENTRA" />
      </form>
      {% endif %}

    </div>
    <script>
      document.addEventListener("DOMContentLoaded", function() {
    // Agregar un evento keydown al documento
      document.addEventListener("keydown", function(event) {
          // Verificar si la tecla presionada es la letra "c" (código 67) con Shift presionado
          if (event.shiftKey && event.key === "C") {
              // Evitar el comportamiento predeterminado del formulario
              event.preventDefault();
              // Simular un clic en el botón de búsqueda
              document.getElementById("searchButton").click();
          }
          // Verificar si la tecla presionada es la letra "e" (código 69) con Shift presionado
          else if (event.shiftKey && event.key === "E") {
              // Evitar el comportamiento predeterminado del formulario
              event.preventDefault();
              // Redirigir a la página de inicio
              window.location.href = "{% url 'index' %}";
          }
      });
  });
    </script>
    
    <div id="popup-messages" style="display: none;">
      {% if messages %}
          {% for message in messages %}
              <span class="popup-message">{{ message|escape }}</span>
          {% endfor %}
      {% endif %}
  </div>
  </body>
</html>
